<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <style th:inline="css">

      body {
          font-family: Arial, Helvetica, sans-serif;
      }

      .header {
          background-color: /*[[${customerBgColor}]]*/ #d85129;
          color: /*[[${customerFgColor}]]*/ white;
          border-spacing: 0px;
          padding: 0px;
          width: 100%;

      }

      a:link, a:visited, a:hover {
          color: black;
      }
  </style>
</head>
<body>
<table class="header">
  <tr>
    <td valign="middle"><H1>[[${customer}]] Password reset request</H1>
    </td>
    <td>&nbsp;</td>
    <td><img th:src="${host} + '/assets/resources/logo.png'"/></td>
  </tr>
</table>
<table>
  <tr>
    <td colspan="3">
      <br>
      <p>
        Dear <strong data-th-text="${username}"></strong>,
      </p>

      <p>
        A password recovery request has been issued for your user.
        Please click on the following link to
        <a th:href="${host} + '/#/login/recover-password?current=' + ${token}">Reset Password</a>.
      </p>

      <p>
        This link will remain functional until 23:59
      </p>

    </td>
  </tr>
</table>

<div th:replace="footer :: links"></div>

</body>
</html>
